<div class="container">
  <div class="divider">
    <h1 class="title">Acerca de mi</h1>
</div>
  <p>
    Hola, mi nombre es Luis Antonio, soy desarrollador autodidacta y nunca dejo de reinventarme. Cuento con experiencia
    distribuida entre múltiples facetas, lenguajes y entornos. Puedo programar aplicaciones complejas o para tareas
    especificas.

    He trabajado en el desarrollo de aplicaciones moviles,
    diseñado bases de datos, administrado comunidades
    y grupos sociales, así como grupos de trabajo coordinados.
    Me gusta trabajar de forma ordenada y tener las pautas claras en mis proyectos,
    por lo que tiendo a destacar para posiciones de liderazgo. Mi sueño es vivir y trabajar desde
    o en Japón, pero aún me estoy capacitando con el idioma.
    Razones no me faltan para estar siempre relacionado en proyectos de e-learning del
    idioma japones de manera voluntaria. Últimamente me estoy dedicando
    principalmente al desarrollo web, diagramado y maqueteado de sitios web,
    participando en el desarrollo tanto del front-end como del back-end.

    Estoy siempre en busca de nuevos desafíos que me permitan acercarme más a mis sueños.

  </p>
</div>