<div class="container" >
  <div class="divider">
    <div id="acerca" class="ancla"></div>
    <h1 class="title">Acerca de mi</h1>
</div>
  <p>
  Hola, mi nombre es Luis Antonio, egrese de la Ingeniería en Tecnologías de la Información y Comunicación, soy un desarrollador autodidacta y nunca dejo de reinventarme. Cuento con experiencia distribuida entre múltiples facetas, lenguajes y entornos. Puedo programar aplicaciones complejas o para tareas específicas. Eh trabajado en el desarrollo de aplicaciones móviles asi como aplicaciones webs, Me gusta trabajar de forma ordenada y tener las pautas claras en mis proyectos. Últimamente me estoy dedicando principalmente al desarrollo móvil con React Native así como en aplicaciones web con Node.js y React.js.
  </p>
</div>