<div class="footer">
    <div class="footer-contacto">
        <h1 class="title footer-title"><strong>Contacto<br />
            Mexico</strong>
        </h1>

    </div>
    <div class="footer-copyright">
        <h2 class="copyright-name subtitle">
            <strong>2020 Luis Antonio Padre Garcia
                </strong>
            </h2>
    </div>
</div>