<div style="height:87vh;justify-content:center;display: flex; padding:1rem;" id="home">
    <div class="box" style="    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffaf1e85;">
        <div>
            <h1 style="font-size: 35px;font-weight: 900;"><strong>LUIS ANTONIO PADRE GARCIA</strong></h1>
        </div>
        <div>
            <h2  style="font-size: 28px;font-weight: 900;">DESARROLLADOR FULL-STACK</h2>
        </div>
    </div>
</div>