<div class="card portafolio-card">
  <div class="card-image">
    <figure class="image is-by3">
      <img src="{{this.photo}}" class="portafolio-img" loading="lazy" alt="{{this.name}}">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">
          {{this.name}}
        </p>
      </div>
    </div>
  </div>
</div>