<div class="card skil-card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{this.img}}" alt="Placeholder image" loading="lazy" alt="{{this.img}}">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">
          {{this.skill}}
          </p>
      </div>
    </div>
  </div>
</div>