<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Luis Antonio Padre Garcia</title>
  <meta name="description" content="Luis Antonio Padre Garcia - Desarrollador Full-stack - Full-stack Developer -">
  <meta property="og:title" content="Luis Antonio Padre Garcia - Desarrollador Full-stack" />
  <meta name="keywords" content="LAPG,Golang,Node,JavaScript,Angular,React,ReactNative,CSS,HTML,Mint">
  <meta property="og:type" content="article" />
  <link rel="stylesheet" type="text/css" href="assets/css/master.min.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KHNZ38G010"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-KHNZ38G010');
</script>
</head>

<body>
  <div class="app">
    {{> header}}

    {{{body}}}

    {{> footer}}
  </div>
  <script src="assets/js/master.min.js"></script>
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</body>
</html>