<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Luis Antonio Padre Garcia</title>
  {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"> --}}
  <link rel="stylesheet" type="text/css" href="assets/css/bulma-master.css">
  <link rel="stylesheet" type="text/css" href="assets/css/master.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bulma-divider.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bulma-timeline.css">
  

</head>

<body>
  <div class="app">
    {{> header}}
    
      {{{body}}}
    
    {{> footer}}
  </div>
  {{!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> --}}
  <script defer src="assets/js/fontawesome.js"></script>
  

</body>

</html>